@font-face {
    src: url(Fonts/Product\ Sans\ Bold\ Italic.ttf);
    font-family: Product Sans;   /* Font for body text */
    src: url(Fonts/Adorable-YzOWv.ttf);
    font-family:Adorable;     /* Font for different titles */
    src: url(Fonts/Autumn\ in\ November.ttf);
    font-family: Autumn;    /* Font for different titles */
    src: url(Fonts/NatunaPersonalUseOnly-p7wWD.ttf);
    font-family: Natuna;   /* Font for different headers */
    src: url(Fonts/daddysgirl.ttf);
    font-family: Girlie;  /*Font for different buttons */ 
    font-family: 'mathlete';
    src: /*url('Mathlete-SkinnySlant-webfont.woff2') format('woff2'),*/
         url('./WebMekinaye-modification2A\src\main\resources\templates\Mathlete-SkinnySlant-webfont.woff') format('woff'),
         /*url('./src/main/resources/templates/Mathlete-SkinnySlant-webfont.woff') format('woff'),
         url('Mathlete-SkinnySlant-webfont.ttf') format('truetype'),
         url('Mathlete-SkinnySlant-webfont.svg#mathleteskinny_slant') format('svg');*/
    /*font-weight: normal;
    font-style: normal;*/
  }
    body {
        background-image: url(https://www.margaquijano.com/content/images/2021/08/blue-gradient-pink-linear-1920x1080-c2-0000cd-ff1493-a-270-f-14.svg);
       /* background-image: url(https://www.margaquijano.com/content/images/2021/08/blue-gradient-pink-linear-1920x1080-c2-0000cd-ff1493-a-270-f-14.svg);*/
        /*https://as2.ftcdn.net/v2/jpg/00/94/92/49/1000_F_94924992_lmKgKZbwZ2QqouwH0frEb1DTF2Nh1oLd.jpg");*/
        color: whitesmoke;
        font-family: Product Sans;
        
    }
    .text{
       font-family: Product Sans;
       font-size:1.7em;
       justify-content:left;
       margin-right:22em;
    }
    h1{
        font-family: Product Sans;
        font-size:9em;
        padding:0em;
    }
    .slogan{
        font-family:mathlete;
        /*font-size:7em;
        justify-content: center;
        /*margin-left:5em;*/
        padding: 0em;
        /*margin-top:5em;*/
    }

    h2 {
        font-family: Product Sans; 
        font-size: 2em;
    }
    ul.nav{
        font-size: 1.5em;
        margin-left:39em;
    }
    a{
        text-decoration: none;
        color:whitesmoke;
    }
    a:hover {
    color: #f7f7f7;
    text-shadow:2em;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
   }
  
    /*@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 30px #eeeeee, 0 0 40px #f7f4f4, 0 0 30px #e9b1b1, 0 0 80px #ffb9b9, 
                   0 0 60px #fdfdfd, 0 0 60px #000000, 0 0 80px #000000;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #f8f6f7, 0 0 40px #fffafc, 0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    }*/
    button {
        border: 0;
        opacity: 0.7;
        color: white;
        font-size: large;
        font-family: Product Sans;
        letter-spacing: 1px;
        width: 8em;
        border-radius: 100rem;
        padding: 1rem;
        padding: .5rem 3rem;
        color: black;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.877);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #000000, #000000);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;  
        width:fit-content;
        height:fit-content
        /*float: right;*/
        /*margin-top:150px;*/
        /*margin-right:430px;*/
    }
    button:hover {        /*Used to create the sudden'color-fill' effect when mouse hovers over button*/
        color: #f7f7f7;
        text-shadow:2em;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
       }
      
       /* @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 30px #eeeeee, 0 0 40px #68078f, 0 0 30px #16ffb1, 0 0 80px #ffb9b9, 
                       0 0 60px #ff0d7e, 0 0 60px #fd3ccd, 0 0 80px #ffffff;
        }
        to {
          text-shadow: 0 0 20px #eeeeee, 0 0 30px #29f3e9, 0 0 40px #ffffff, 0 0 50px #ffffff, 
                       0 0 60px #ff0ecb, 0 0 70px #f7f7f7, 0 0 80px #66068b;
        }
        }*/