<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mechinaye</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div th:fragment="o">
    <div class="container">
        <header>
            <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: .5;">
                
                <div class="dropdown" >
                
  <button class="btn btn-$purple-700" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img th:src="@{/images/menu.svg}"/>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="float: left;
  list-style:none;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;">
  <form  method="POST">
    <label for="HomeButton" style="float:right">
    
        
    
    </label>
</form>
    <li ><a th:class="dropdown-item" th:href="@{/register/current}"><button type="button" class="btn btn-primary" >REGISTER</button></a></li>
    <li ><a class="dropdown-item" href="#">contact us</a></li>
    <li ><a class="dropdown-item" href="#"> info</a></li>
  </ul>
</div> 
 </div>
        </header></div>