<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mechinaye</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <!-- <div th:replace="fragment::o"></div> -->
        <main>
        <aside style="float:left">
 <img class="img-responsive" th:src="@{/images/car.png}"  <!--th:class="img-fluid"--> > 
</aside>




<section>
    <span class="border">   
<h3 style="float:right;">Welcome to Mekinaye</h3> 
<hr> 
    <article>Mekinaye is a software product that will aid you in your automobile diffculties
    Car is stuck on the road and wont respond? Car run out of gas and now you are left stranded? 
    No need to worry! Simply use Mekinaye to place an order and we will connect you with the best professionals as well as service providers who will be there to help!
    Not only can you get gasoline delievered to you but you can also request an expert mechanic to help you with your automobile malfunctions
    Please register using the button below:
    Or contact our help desk: </article></span></section>
    
        
        
    
        
<a th:href="@{/register}"> <button>register here</button></a>
        
        
    <script th:src="@{/js/bootstrap.bundle.min.js}">
    </script> 
    </div>
</body>
</html>