<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
 <head>
    
 <title>Mechinaye</title>
 
 </head>
 <body>
    <!-- <div th:replace="fragment::o"></div> -->
 <h3>Register</h3>
 <img th:src="@{/images/car.png}" class="img-responsive"/>
 <form method="POST" th:action="@{/register}" th:object=${registrationform} id="registerForm" class="form-horizontal"  role="form" onsubmit="check_info()">
    <div class="form-group">>
   
        
 <label class="control-label col-sm-2" for="username">Username: </label>
<input type="text" name="username"/><br/></div>
  <!--<span class="validationError"
 th:if="${#fields.hasErrors('username')}"
 th:errors="*{username}">CC Num Error</span>--->

    <div class="form-group">
 <label class="control-label col-sm-2" for="password">Password: </label>
 <input type="password" name="password"/><br/></div>

    <div class="form-group">
 <label class="control-label col-sm-2" for="confirm">Confirm password: </label>
 <input type="password" name="confirm"/><br/></div>

    <div class="form-group">
 <label class="control-label col-sm-2" for="fullname">Full name: </label>
 <input type="text" name="fullname"/><br/></div>
 
 
 <div class="form-group">
 <label class="control-label col-sm-2" for="street">Street: </label>
 <input type="text" name="street"/><br/></div>

 
 <div class="form-group">
 <label  class="control-label col-sm-2" for="city">City: </label>
 <input type="text" name="city"/><br/></div>

 
 <div class="form-group">
 <label  class="control-label col-sm-2" for="state">State: </label>
 <input type="text" name="state"/><br/></div>

 
 <div class="form-group">
 <label  class="control-label col-sm-2" for="zip">Zip: </label>
 <input type="text" name="zip"/><br/></div>

 
 <div class="form-group">
 <label class="control-label col-sm-2" for="phone">Phone: </label>
 <input type="text" name="phone"/><br/></div>

 <input type="submit" value="Register"/>
 </form>
 </body>
</html>